In [3]:
import pandas as pd

In [11]:
tabela = pd.read_excel("/content/Vendas.xlsx")
tabela.dtypes

Data              datetime64[ns]
ID Loja                   object
Produto                   object
Quantidade                 int64
Valor Unitário             int64
Valor Final                int64
dtype: object

In [12]:
faturamento_total = tabela["Valor Final"].sum()

In [15]:
print(f'R${faturamento_total}')

R$55895

In [18]:
#faturamento por loja

faturamento_por_loja = tabela[["ID Loja", "Valor Final"]].groupby("ID Loja").sum()

faturamento_por_loja

                            Valor Final
ID Loja
Bourbon Shopping SP                4386
Center Shopping Uberlândia         2994
Iguatemi Campinas                 41720
Iguatemi Esplanada                 2473
Norte Shopping                     4322

In [19]:
faturamento_por_produto = tabela[["ID Loja", "Produto","Valor Final"]].groupby(["ID Loja", "Produto"]).sum()
faturamento_por_produto

                                             Valor Final
ID Loja                    Produto
Bourbon Shopping SP        Bermuda                   750
                           Bermuda Estampa          1183
                           Bermuda Linho             195
                           Bermuda Listrado         1793
                           Bermuda Xadrez            465
Center Shopping Uberlândia Bermuda Estampa           338
                           Bermuda Linho             780
                           Bermuda Listrado          326
                           Bermuda Xadrez           1550
Iguatemi Campinas          Bermuda                  1200
                           Bermuda Estampa           845
                           Bermuda Linho            1170
                           Bermuda Liso            36581
                           Bermuda Listrado         1304
                           Bermuda Xadrez            620
Iguatemi Esplanada         Bermuda                   150
                           Bermuda Estampa           338
                           Bermuda Linho            1365
                           Bermuda Xadrez            620
Norte Shopping             Bermuda                  1350
                           Bermuda Estampa           845
                           Bermuda Linho             390
                           Bermuda Listrado          652
                           Bermuda Xadrez           1085